.idea/
*.class
.classpath
/client_jfx/client_jfx.iml
/clientAngular/node_modules/
/clientAngular/node_modules/
/client_jfx/target/classes/img/images/levelBackground/Ground_Tile_01_A.png
/client_jfx/target/classes/img/images/levelBackground/Ground_Tile_01_B.png
/client_jfx/target/classes/img/images/levelBackground/Ground_Tile_01_C.png
/client_jfx/target/classes/img/images/levelBackground/Ground_Tile_02_A.png
/client_jfx/target/classes/img/images/levelBackground/Ground_Tile_02_B.png
/client_jfx/target/classes/img/images/levelBackground/Ground_Tile_02_C.png
/client_jfx/target/maven-status/maven-compiler-plugin/compile/default-cli/createdFiles.lst
/client_jfx/target/maven-status/maven-compiler-plugin/compile/default-cli/inputFiles.lst
/client_jfx/target/classes/view/SettingView.fxml
/client_jfx/target/
/classdiagram/Class Diagram Tanks.asta.lock
/hs_err_pid6989.log
/hs_err_pid8907.log
/hs_err_pid9069.log
/hs_err_pid9731.log
/hs_err_pid12247.log
/hs_err_pid15774.log
/hs_err_pid81707.log
/hs_err_pid8665.log
/hs_err_pid9225.log
/hs_err_pid14616.log
/hs_err_pid15498.log
