.root{
    -fx-background-color:  #8A8557;
}


.button{
    -fx-background-color: #47452E;
-fx-text-fill:#111111;
    -fx-border-color: #111111;
    -fx-border-width: 2;
-fx-pref-width:200;
-fx-pref-height: 30;
}

.button#btn-newGame{
    -fx-background-color: #111111;
    -fx-text-fill: #514C19;
    -fx-border-color: #47452E;
}

#level1Ground {
    -fx-hgap: 40;
    -fx-wgap: 40;
}


